/**
* SVG Icons in CSS
* @author Mian Shahzad Raza
**/
*  {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.icon-container {
    padding: 10px;
    float: left;
}
[class*="eicon-"] {
    display: block;
}
[class*="eicon-"]:before {
    content: '';
    display: block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
}
.eicon-security {
    font-size: 300px;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%2304009a;%7D.cls-2%7Bfill:%2377acf1;%7D%3C/style%3E%3C/defs%3E%3Cg data-name='15. Insurance' id='_15._Insurance'%3E%3Cpath class='cls-1' d='M16,32a1.19,1.19,0,0,1-.32-.05A18.53,18.53,0,0,1,3,14.35V6A1,1,0,0,1,4,5,15.75,15.75,0,0,0,15.24.34,1.13,1.13,0,0,1,16,0h0a1,1,0,0,1,.73.27A15.83,15.83,0,0,0,28,5a1,1,0,0,1,1,1v8.35A18.53,18.53,0,0,1,16.32,32,1.19,1.19,0,0,1,16,32ZM5,7v7.38A16.53,16.53,0,0,0,16,29.94,16.53,16.53,0,0,0,27,14.35V7A17.72,17.72,0,0,1,16,2.38,17.75,17.75,0,0,1,5,7Z'/%3E%3Cpath class='cls-2' d='M14,10h4a0,0,0,0,1,0,0v3.18a.82.82,0,0,1-.82.82H14.82a.82.82,0,0,1-.82-.82V10A0,0,0,0,1,14,10Z'/%3E%3Cpath class='cls-1' d='M20.29,23H11.71A2.72,2.72,0,0,1,9,20.29V11.71A2.72,2.72,0,0,1,11.71,9h8.58A2.72,2.72,0,0,1,23,11.71v8.58A2.72,2.72,0,0,1,20.29,23ZM11.71,11a.71.71,0,0,0-.71.71v8.58a.71.71,0,0,0,.71.71h8.58a.71.71,0,0,0,.71-.71V11.71a.71.71,0,0,0-.71-.71Z'/%3E%3C/g%3E%3C/svg%3E");
}
.eicon-blocks {
    font-size: 5em;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%2377acf1;%7D.cls-2%7Bfill:%2304009a;%7D%3C/style%3E%3C/defs%3E%3Cg data-name='28. Pile Box' id='_28._Pile_Box'%3E%3Cpath class='cls-1' d='M6,16h4a0,0,0,0,1,0,0v3a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V16A0,0,0,0,1,6,16Z'/%3E%3Cpath class='cls-1' d='M22,16h4a0,0,0,0,1,0,0v3a1,1,0,0,1-1,1H23a1,1,0,0,1-1-1V16A0,0,0,0,1,22,16Z'/%3E%3Cpath class='cls-1' d='M14,4h4a0,0,0,0,1,0,0V7a1,1,0,0,1-1,1H15a1,1,0,0,1-1-1V4A0,0,0,0,1,14,4Z'/%3E%3Cpath class='cls-2' d='M31,27h-.18A3,3,0,0,0,31,26V18a3,3,0,0,0-3-3H22.82A3,3,0,0,0,23,14V6a3,3,0,0,0-3-3H12A3,3,0,0,0,9,6v8a3,3,0,0,0,.18,1H4a3,3,0,0,0-3,3v8a3,3,0,0,0,.18,1H1a1,1,0,0,0,0,2H31a1,1,0,0,0,0-2ZM11,14V6a1,1,0,0,1,1-1h8a1,1,0,0,1,1,1v8a1,1,0,0,1-1,1H12A1,1,0,0,1,11,14Zm6.18,13H14.82A3,3,0,0,0,15,26V18a3,3,0,0,0-.18-1h2.36A3,3,0,0,0,17,18v8A3,3,0,0,0,17.18,27ZM4,27a1,1,0,0,1-1-1V18a1,1,0,0,1,1-1h8a1,1,0,0,1,1,1v8a1,1,0,0,1-1,1Zm16,0a1,1,0,0,1-1-1V18a1,1,0,0,1,1-1h8a1,1,0,0,1,1,1v8a1,1,0,0,1-1,1Z'/%3E%3Cpath class='cls-2' d='M7,25H6a1,1,0,0,1,0-2H7a1,1,0,0,1,0,2Z'/%3E%3Cpath class='cls-2' d='M23,25H22a1,1,0,0,1,0-2h1a1,1,0,0,1,0,2Z'/%3E%3Cpath class='cls-2' d='M15,13H14a1,1,0,0,1,0-2h1a1,1,0,0,1,0,2Z'/%3E%3C/g%3E%3C/svg%3E");
}
.eicon-globe {
    font-size: 5em;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%2304009a;%7D.cls-2%7Bfill:%2377acf1;%7D%3C/style%3E%3C/defs%3E%3Cg data-name='32. Worldwide' id='_32._Worldwide'%3E%3Cpath class='cls-1' d='M29,9.67l0-.09A15,15,0,0,0,1,9.58l0,.09A14.73,14.73,0,0,0,1,20.34s0,.05,0,.07A15.06,15.06,0,0,0,13.93,30H14A1,1,0,0,0,15,29V28a1,1,0,0,0-.34-.58A16.71,16.71,0,0,1,10.15,21H14a1,1,0,0,0,0-2H9.51A16.12,16.12,0,0,1,9,15a16.54,16.54,0,0,1,.5-4h11a16.54,16.54,0,0,1,.5,4,1,1,0,0,0,2,0,18.85,18.85,0,0,0-.43-4h4.79A12.89,12.89,0,0,1,28,15a1,1,0,0,0,2,0A14.76,14.76,0,0,0,29,9.67Zm-17,18A13.08,13.08,0,0,1,3.49,21H8A18.49,18.49,0,0,0,12,27.65ZM2.65,19A12.65,12.65,0,0,1,2,15a12.89,12.89,0,0,1,.64-4H7.43A18.85,18.85,0,0,0,7,15a18.3,18.3,0,0,0,.45,4ZM8,9H3.48A13,13,0,0,1,12,2.36,18.26,18.26,0,0,0,8,9Zm2.15,0A16.76,16.76,0,0,1,15,2.28,16.76,16.76,0,0,1,19.86,9ZM22,9a18.26,18.26,0,0,0-4-6.64A13,13,0,0,1,26.52,9Z'/%3E%3Cpath class='cls-2' d='M22,19h4a0,0,0,0,1,0,0v3a1,1,0,0,1-1,1H23a1,1,0,0,1-1-1V19A0,0,0,0,1,22,19Z'/%3E%3Cpath class='cls-1' d='M28,32H20a3,3,0,0,1-3-3V21a3,3,0,0,1,3-3h8a3,3,0,0,1,3,3v8A3,3,0,0,1,28,32ZM20,20a1,1,0,0,0-1,1v8a1,1,0,0,0,1,1h8a1,1,0,0,0,1-1V21a1,1,0,0,0-1-1Z'/%3E%3Cpath class='cls-1' d='M23,28H22a1,1,0,0,1,0-2h1a1,1,0,0,1,0,2Z'/%3E%3C/g%3E%3C/svg%3E");
}